/* Don't delete: the menu anchor is a button */
button {
	background: none;
	border-style: none;
	box-shadow: none;
}

#searchbox {
	margin-bottom: 5px
}

/* Menu items */
label {
  padding-left: 5px
}
